<head>
  <meta charset="utf-8">
  <title>My App Title</title>
  <meta name="description" content="Coolest app ever!">
  <meta name="Keywords" content="Cool, My, App, Ever">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <meta name="copyright" content="2016 Excel.Net Inc. All Rights Reserved">
  <meta name="address" content="2103 Indiana Avenue; Sheboygan, WI  53081">
  <meta name="contact" content="phone: (920) 452-0455; fax: (920) 452-8118; webmaster@excel.net; ">
  <link rel="shortcut icon" type="image/png" href="/favicon.png?v1" sizes="16x16 32x32 64x64">
</head>
